<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/code.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %} "/>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static '/summernote/summernote.css' %}">
    <script src="{% static '/summernote/summernote.js' %}"></script>
    <script src="{% static '/summernote/lang/summernote-zh-CN.js' %}"></script><!--加载中文-->

    {#显示提示信息#}
    <script type="text/javascript">
        function disp_alert() {
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags %}
                        alert("{{ message }}")
                    {% endif %}
                {% endfor %}
            {% endif %}}
    </script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({#编辑器设置#}
                {
                    width: 750,
                    height: 360,
                    focus: true, {#页面打开时光标自动进入编辑区#}
                    lang: 'zh-CN',
                    toolbar: [{#工具栏加载项设置#}
                        ['style', ['style']], {#文本样式#}
                        ['font', ['bold', 'italic', 'underline', 'superscript', 'subscript',
                            'strikethrough', 'clear']], {#字体样式#}
                        ['fontname', ['fontname']], {#字体列表#}
                        ['fontsize', ['fontsize']], {#字体尺寸#}
                        ['color', ['color']], {#字体颜色#}
                        ['para', ['ul', 'ol', 'paragraph']], {#文本列表#}
                        ['height', ['height']], {#行高#}
                        ['table', ['table']], {#表格#}
                        ['insert', ['link', 'picture', 'video', 'hr']], {#插入项#}
                        ['view', ['fullscreen', 'codeview']], {#视图#}
                        ['help', ['help']]{#帮助#}
                    ],
                    fontNames:
                        [
                            'Arial',
                            'Arial Black',
                            'Comic Sans MS',
                            'Courier New',
                            '宋体',
                            'Microsoft YaHei'
                        ]
                }
            );
        });
    </script>
    <style>
        article code {
            white-space: normal;
            word-break: break-all;
        }
    </style>
</head>

<body onload="disp_alert();getdata()">

<header>
    <nav class="navbar navbar-default" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#header-navbar" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="logo">
                    <a href="http://127.0.0.1:8000/stack_under_flow/displayquestion">Stack Underflow</a>
                </h1>
            </div>
            <div class="collapse navbar-collapse" id="header-navbar">
                <form class="navbar-form visible-xs" action="#" method="POST">
                    <div class="input-group">
                        <input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20"
                               autocomplete="off">
                        <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-search">搜索</button>
                            </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>欢迎您，{{ tempnickname }}</a></li>
                    <li><a href="http://127.0.0.1:8000/stack_under_flow/mynews/">消息({{ unread_message_count }}未读)</a>
                    </li>
                    <li><a href="http://127.0.0.1:8000/stack_under_flow/my/">我的</a></li>
                    <li><a href="http://127.0.0.1:8000/users/register/">注册</a></li>
                    <li><a href="http://127.0.0.1:8000/users/login/">登陆</a></li>
                    <li><a href="{% url 'logout' %}?next={{ '/' }}">注销登录</a>
                    <li><a href="http://127.0.0.1:8000/stack_under_flow/commitquestion">发布问题</a></li>
                    {% if current_user.is_superuser == 1 %}
                        <li><a href="http://127.0.0.1:8000/stack_under_flow/myadmin/">管理</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

{#        提交问题#}
<div class="title">
    <h3>提交问题</h3>
</div>
<button type="button" class="btn btn-primary" id="showHidden">点击切换富文本编辑器和markdown</button>
<br>
<br>
<div id="div1" class="article-comment" style="display:block">
    <form action="" method="post" name="commitquestion">
        <p><span></span><input class="form-control" type="text" placeholder="请输入问题" name="title" id="title1" required>
        </p>
        <p><span></span><input type="number" id="giftpoint1" value="0" min="0" class="form-control"
                               placeholder="请输入悬赏的积分(不得超过目前已有的积分)，您目前的积分为{{ current_user.point }}" name="giftpoint"
                               required></p>
        <textarea id="summernote" class="form-control" rows="8" placeholder="请输入您的问题详情"
                  name="content" required></textarea>
        <br>
        <button class="btn btn-primary" onclick="sendquestion1()">提交问题</button>
    </form>
    <script>
        function sendquestion1() {
            let questionid = localStorage.getItem('questionid');//key要用单引号或者双引号包括着
            console.log("问题的id为"+questionid);
            let title = $("#title1").val();
            let giftpoint=$("#giftpoint1").val();
            let content = $('#summernote').summernote('code');
            $.ajax({
                url: "{% url 'stack_under_flow:commitrewritequestion' %}",
                type: 'POST',
                data: {
                    questionid:questionid,
                    title:title,
                    giftpoint:giftpoint,
                    content:content,
                },
                cache: false,
                success: function (data) {
                    console.log(data)
                    if (data['status'] == 'SUCCESS') {
                        alert("修改问题成功！");
                        window.location.href = "http://127.0.0.1:8000/stack_under_flow/questioninfo/"+questionid;
                    } else {
                        alert(data['message']);
                    }
                },
                error: function (xhr) {
                    console.log(xhr)
                }
            });
        }
    </script>
</div>

<div>
    <div id="div2" class="article-comment" style="display:none">
        <form action={% url 'stack_under_flow:commitquestion' %}  method="post" name="commitquestion">
            <p><span></span><input type="text" class="form-control" placeholder="请输入问题" name="title" id="title2"></p>
            <p><span></span><input type="number" id="giftpoint2" value="0" min="0" class="form-control"
                                   placeholder="请输入悬赏的积分(不得超过目前已有的积分)，您目前的积分为{{ current_user.point }}" name="giftpoint"
                                   required></p>
            <textarea id="markdowneditor" class="form-control" rows="8" placeholder="请输入您的问题详情"
                      name="content" required></textarea>
        <br>
        <button class="btn btn-primary" onclick="sendquestion2()">提交问题</button>
        </form>
    </div>
    <script>
        function sendquestion2() {
            let questionid = localStorage.getItem('questionid');//key要用单引号或者双引号包括着
            console.log("问题的id为"+questionid);
            let title = $("#title2").val();
            let giftpoint=$("#giftpoint2").val();
            let content =  $("#markdowneditor").val();
            $.ajax({
                url: "{% url 'stack_under_flow:commitrewritequestion' %}",
                type: 'POST',
                data: {
                    questionid:questionid,
                    title:title,
                    giftpoint:giftpoint,
                    content:content,
                },
                cache: false,
                success: function (data) {
                    console.log(data)
                    if (data['status'] == 'SUCCESS') {
                        alert("修改问题成功！");
                        window.location.href = "http://127.0.0.1:8000/stack_under_flow/questioninfo/"+questionid;
                    } else {
                        alert(data['message']);
                    }
                },
                error: function (xhr) {
                    console.log(xhr)
                }
            });
        }
    </script>
</div>

<script>
    function getdata() {
        let questionid = localStorage.getItem('questionid');//key要用单引号或者双引号包括着,用一变量存起来方便使用
        // alert(questionid);
        $.ajax({
            url: "{% url 'stack_under_flow:returnquestioninfo' %}",
            type: 'GET',
            data: {
                questionid: questionid
            },
            cache: false,
            success: function (data) {
                console.log(data)
                if (data['status'] == 'SUCCESS') {
                    $("#title1").val(data['title']);
                    $("#giftpoint1").val(data['giftpoint']);
                    $('#summernote').summernote('code', data['content']);
                    $("#title2").val(data['title']);
                    $("#giftpoint2").val(data['giftpoint']);
                    $("#markdowneditor").val(data['beforemarkdown']);
                } else {
                    alert(data['message']);
                }
            },
            error: function (xhr) {
                console.log(xhr)
            }
        });
    }
</script>
<script>
    function show_hidden(obj) {
        if (obj.style.display == 'block') {
            obj.style.display = 'none';
        } else {
            obj.style.display = 'block';
        }
    }

    var sh = document.getElementById("showHidden");
    sh.onclick = function () {
        var div1 = document.getElementById("div1");
        var div2 = document.getElementById("div2");
        show_hidden(div1);
        show_hidden(div2);
        return false;
    }
</script>


<div class="footer ">
    <div class="container ">
        <p>Copyright &copy; 2018.Stack Underflow All rights reserved</p>
    </div>
</div>
</body>
</html>